$boneColor: #f8f4ee;
$mineshaftColor: #1f1f1f;
$montserratFont: "Montserrat", sans-serif;
$darkPink: rgb(255, 0, 119);

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
