.products-container {
    display: flex;
    margin: auto;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.product-img {
    width: 250px;
    height: 350px;
    transition: 1s ease;
}

.product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-card:hover .product-img {
    width: 270px;
    transform: translateY(-10px);
}

.product-card:hover .product-title{
    font-size: 1.05em;
    transition: 0.5s;

}

.product-title {
    width: 250px;
    text-align: center;
    padding: 15px 15px;
    border-radius: 5px;
    background: rgb(247, 247, 247);
    margin-bottom: 15px;
    font-size: 1em;
    transition: 0.5s;
}



.product-category {
    text-transform: capitalize;
    color: rgb(1, 52, 100);
    padding: 15px 0;
}
.product-category span {
    color: rgb(100, 100, 100);
}

.mrl {
    margin: 0 10px !important;
}
