.btn {
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.outline {
    border: 1px solid black;
    border-radius: 5px;
}

.contained {
    border-radius: 5px;
}

.dark {
    background: #1f1f1f;
}



.light {
    background: rgb(245, 245, 245);
}

.red {
    background: rgb(236, 2, 119);
}

.blue {
    background: rgb(0, 177, 247);
}

.green {
    background: rgb(0, 255, 179);
}

.large {
    font-size: 2em;
}

.medium {
    font-size: 1.2em;
}

.small {
    font-size: 0.8em;
}
