@import "../../../../../sass/variables";

.products-container {
    margin: auto;
    @include flex-center-row;

    overflow: hidden;
    width: 100%;
    .product-card {
        @include flex-center-column;

        .product-img {
            width: 15.625rem;
            height: 21.875rem;
            transition: 1s ease;
        }

        &:hover .product-img {
            width: 16.875rem;
            transform: translateY(-0.625rem);
        }

        &:hover .product-title {
            font-size: 1.05em;
            transition: 0.5s;
        }

        .product-title {
            width: 15.625rem;
            text-align: center;
            padding: 0.938rem 0.938rem;
            border-radius: 5px;
            background: rgb(247, 247, 247);
            margin-bottom: 0.938rem;
            font-size: 1em;
            transition: 0.5s;
        }

        .card-footer {
            .product-category {
                text-transform: capitalize;
                color: rgb(1, 52, 100);
                padding: 0.625rem 0;

                span {
                    color: rgb(100, 100, 100);
                }
            }

            .product-price {
                padding-bottom: 10px;
                color: rgb(18, 4, 136);

                span {
                    color: rgb(100, 100, 100);
                }
            }

            .mrl {
                margin: 0 0.625rem !important;
            }
        }
    }
}

/*  product preloader */
.pp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    overflow: hidden;
    .pp-item {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}
