@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

:root {
    --montserrat-font: "Montserrat", sans-serif;

    --yoda-gradient: linear-gradient(-45deg, #ff0099, #493240);
    --pigypink-gradient: linear-gradient(45deg, #ee9ca7, #f0abb4fb, #ffdde1);
    --forest-gradient: linear-gradient(to right, #000428, #004e92);
    --dull-gradient: linear-gradient(to right, #c9d6ff, #e2e2e2);
    --mystic-gradient: linear-gradient(65deg, #757f9a, #d7dde8);
    --khaki-gradient: linear-gradient(
        to right bottom,
        #e0a015,
        #f0b000,
        #ebc748,
        #fadf87,
        #fcda7dda
    );

    --midnightCity-gradient: linear-gradient(to bottom, #232526, #414345);
    --deepSpace-gradient: linear-gradient(to bottom, #000000, #434343);
}

a {
    text-decoration: none;
    color: inherit;
}
